h1 {
    padding-top: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

section#documenten ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

section#documenten a {
    display: inline-block;
    margin-left: 4rem;
}
