* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #c7b094;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

header{
    position: relative;
}

.navbar {
    background-color: #568818;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 5rem;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.navbar .links li {
    list-style: none;
    height: 5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
}

.navbar .links li:hover {
    background-color: #7bbe25;
}

.navbar .links a {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .toggle_button {
    color: #7bbe25;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-left: auto;
}

/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: #7bbe25;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 23rem;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li:hover {
    background-color: #568818;
}

.dropdown_menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
}


/* Responsive Design */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_button {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 768px) {
    .dropdown_menu {
        width: unset;
        left: 2rem;
    }
}